/*
project variables file.
*/
/* 
    Created on : Oct 12, 2015, 9:28:15 AM
    Author     : Aamer
*/

// color variables
$color__green                   :       #2e6839;
$color__white                   :       #ffffff;
$color__black                   :       #000000;
$color__dark-link               :       #010101;
$color__yellow-light            :       #f7ee8a;
$color__lightyellow-light       :       #f8fbe4;

$color__dark-text               :       #252525;
$color__dark-black              :       #111111;


// font families
$font-family__caviar-regular    :       'caviar_dreamsregular', sans-serif;
$font-family__caviar-bold       :       'caviar_dreamsbold', sans-serif;
$font-family__bradley-bold      :       'bradley_hand_bold', sans-serif;
// myriad pro fonts
$font-family__myriad-regular    :       'MyriadPro-Regular', sans-serif;
$font-family__myriad-bold       :       'MyriadPro-Bold', sans-serif;
$font-family__myriad-semibold   :       'MyriadPro-Semibold', sans-serif;